
#request-a-quote {
	position: fixed;
	bottom: 16px;
	right: 16px;
	padding: 30px;
	width: 250px;
	background: #fff;
	border: 3px solid #ddd;
	text-align: left;
}
#request-a-quote.open {
	width: 450px;
	max-height: 85vh;
	overflow: scroll;
}
#request-a-quote-form {
	display: none;
	position: relative;
	background: #fff;
	padding: 16px;
}
#request-a-quote-hide-form-button {
	position: absolute;
	display: block;
	right: 0;
	top: 0;
}
#request-a-quote-cta {
  	background: #ddd;
}
#request-a-quote-hide-form-button,
#request-a-quote-cta-button {
	background: #000;
	color: #fff;
	border: 0;
	padding: 16px;
	text-transform: uppercase;
	cursor: pointer;
	transition: 0.3s;
}
#request-a-quote-hide-form-button:focus,
#request-a-quote-hide-form-button:hover,
#request-a-quote-cta-button:focus,
#request-a-quote-cta-button:hover {
	background: #fe0000;
	cursor: pointer;
}
